/* Font pour noel  */
@font-face{
    font-family: 'snowPolice';
    src: url(../fonts/f24q3231-snow-freeze/ttf/f24q3231-snow-freeze-snow-freeze-regular-snow-pile-400.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'snowLink';
    src: url(../fonts/f24q3231-snow-freeze/otf/f24q3231-snow-freeze-snow-freeze-regular-400.otf);
}

@font-face {
    font-family: 'carteDefil';
    src: url(../fonts/f24q3231-snow-freeze/FunnelSans-Italic-VariableFont_wght.ttf);
}
.begginAnim {
    width: 100%;
    height: 2000px;
    z-index: 1;
    position: absolute;
    overflow: hidden;
}

.begginAnim>div {
    background-color: rgba(165, 165, 165, 0.599);
    width: 100%;
    height: 100vh;
}

.anim1 {
    animation: move1 0.2s linear 0.05s 1 reverse forwards;
}

@keyframes move1 {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
        display: none;
    }
}
body{
    margin: 0;
    padding: 0; 
    background-color: black;
}

/* param navbar  */
nav{
    top: -100px;
    transition: top 1s ease, background-color 1s ease; /* Animation pour le déplacement et la couleur de fond */
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 1; 
    background-color: rgba(0, 0, 0, 0);
}
.navbar.visible{
    top: 0;
    justify-content: space-evenly;
    position: fixed;

}
.list_puce_nav{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 40px;
    width: 2000px;
    list-style-type: none;
    transition: color 0.5s ease; /* Transition pour le changement de couleur */
}
.Ex{
    flex-grow: 0.79;
    height: 50px;
}
.search{
    width: 300px;
}
.list_puce_nav>li{
    margin: 0;
    padding: 0;
}
.txt{
    flex-grow: 0.05;
}
.logo>a{
    margin-left: 10%;
}
.list_puce_nav>li>a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    transition: color 0.5s ease; /* Transition pour le changement de couleur */
    font-family:snowLink, sans-serif ;
    letter-spacing: 2px;
}
.lien:hover{
    border-bottom: 2px solid #ffffff;
}
.flexible{
    display: flex;
    letter-spacing: 5px;
}
.flexible>label>i{
    color: snow;
    font-size: 20px;
}
.flexible>label>input{
    background-color: snow;
    font-size: 20px;
}
.list_puce_nav>li>a::after{
    border: 1px solid black;
}
.lien {
    position: relative; /* Nécessaire pour positionner l'élément ::after */
    display: inline-block; /* Permet à l'élément de s'ajuster à son contenu */
    color: white;
}
.txt>.lien{
    font-size: 140%;
}
.lien:hover{
    border-bottom: 2px solid #ffffff;
    transition: width 0.4s ease, left 0.4s ease;
}
input{
    background-color: rgba(0, 0, 0, 0.559);
    color: snow;
}

/* Section ------------------------------------------------------------ */

/* param section  */
.carteTrans{
    border: 1px solide rgb(0, 255, 0);
    position: absolute;
    left: 22%;
    top: 10%;
    width: 971px;
    height: 243%;
    background-color: rgba(0, 0, 0, 0.814);
    text-align: center;
    box-shadow: 0 0 1em rgb(255, 255, 255);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.lesCartes{
    display: flex;
    justify-content: center;
    align-items: center;

}
.card {
    perspective: 1000px; /* Perspective pour la rotation 3D */
    margin-top: 15px;
    background-color: transparent;
    font-family: carteDefil;
    font-size: 18px;
}
.cardInter{
    position: relative;
    top: 50%;
    width: 500px;
    height: 250px;
    transition: transform 0.6s; /* Transition pour la rotation */
    transform-style: preserve-3d; /* Préserve les transformations 3D */
    color: white;
}
.button{
    position: absolute;
    top: 3%;
    z-index: 10;

    background: linear-gradient(45deg, #3498db, #ff0000);
    animation: gradient-animation 5s ease infinite, blink-animation 1s steps(5, start) infinite;

    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    padding: 10px 20px;
    margin: 20px 0;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%; /* Position de départ */
    }
    50% {
        background-position: 100% 50%; /* Position intermédiaire */
    }
    100% {
        background-position: 0% 50%; /* Retour à la position de départ */
    }
}

@keyframes blink-animation {
    0%, 100% {
        opacity: 1; /* Plein opacité au début et à la fin */
    }
    50% {
        opacity: 80%; /* Transparence à mi-chemin */
    }
}

.button:hover {
    background-color: #2980b9;
    transform: scale(1.05); /* Légère augmentation de taille au survol */
}
.cardAvant{
    position: absolute;
    backface-visibility: hidden; /* Cacher l'arrière de la carte */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 250px; 
}
.cardBack{
    position: absolute;
    backface-visibility: hidden;
    border: 1px solid #ccc;
    border-radius: 30px;
    transform: rotateY(180deg); /* Met le verso à l'envers */
    box-shadow: 0 0 1em rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 250px; 
    background-color: rgba(0, 0, 255, 0.208);
    margin-top: 18px;
}

.cardBack span{
    font-size: 23px;
}

.cardBack:nth-last-child(){
    background-color: red;
}

input{
    display: none;
}

.toggle:checked + .button + .card .cardInter, 
.toggle2:checked + .button + .card .cardInter,
.toggle3:checked + .button + .card .cardInter, 
.toggle4:checked + .button + .card .cardInter,
.toggle5:checked + .button + .card .cardInter
{
    transform: rotateY(180deg); /* Rotation de 180 degrés */
}

.cardBack>p{
    margin: 5%;
}

.cardAvant>p{
    margin: 5%;
}

/* pied de page  --------------------------------------------------------------------*/

/* param footer  */
footer{
    height: 200px;
    width: 100%;
    border-top: 1px solid snow;
    color: snow;
}

.pied{
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

/* premier bloc footer  */

.blocG{
    padding-right: 1%;
    border-right: 1px solid snow;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 33.3%;
}

.blocG i{
    align-self: flex-end;
}

.ico{
    display: flex;
    align-self: flex-end;
    margin-right: 3%;
}

.ico>i{
    margin-bottom: 13%;
}

/* Deuxieme bloc footer  */

.blocMid{
    /* border: 1px solid green; */
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 33.3%;
}

.listPuceFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70%;
}

.listPuceFooter>li{
    list-style-type: none;
    margin-left: -8%;
}

.listPuceFooter>li>a{
    text-decoration: none;
    color: snow;
    margin-top: 50%;

}

.listPuceFooter>li>a:hover{
    background-color: #211d1d;
    font-size: 120%;

}

/* dernier bloc footer  */

.blocD{
    border-left: 1px solid snow;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.icoReseau{
    display: flex;
    flex-direction: row;
    margin-right: 20%;
}

.icoReseau i{
    font-size: 40px;
    width: 100%;
}

.icoReseau>a{
    margin:10%;
}

.cordonner{
    display: flex;
    justify-content: space-evenly;
}