@font-face{
    font-family: 'snowPolice';
    src: url(fonts/f24q3231-snow-freeze/otf/f24q3231-snow-freeze-snow-freeze-regular-snow-pile-400.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'snowLink';
    src: url(../fonts/f24q3231-snow-freeze/otf/f24q3231-snow-freeze-snow-freeze-regular-400.otf);
}

body{
    margin: 0;
    padding: 0; 

}
header {background-color: black;}

video {
    top: 0;
    left: 0;
    width: 100%;   /* Prend toute la largeur de la fenêtre */
    height: 870px;  /* Prend toute la hauteur de la fenêtre */
    object-fit: cover; /* Remplir l'espace sans déformation */
    z-index: -1;    /* Place la vidéo derrière tout autre contenu */
    opacity: 50%;
}

nav{
    top: -100px;
    transition: top 1s ease, background-color 1s ease; /* Animation pour le déplacement et la couleur de fond */
    left: 0;
    right: 0;
    z-index: 1; /* Assurez-vous que la navbar est au-dessus du contenu */
    background-color: #7b7b7b00;

}

.navbar.visible{
    top: 0;
    justify-content: space-evenly;
    position: fixed;

}

.list_puce_nav{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 40px;
    width: 2000px;
    /* border: 1px solid green; */
    transition: color 0.5s ease; /* Transition pour le changement de couleur */
    
}

.Ex{
    flex-grow: 0.79;
    height: 50px;
}

.search{
    width: 300px;
}

.list_puce_nav>li{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

.txt{
    flex-grow: 0.05;
}

.txt>.lien{
    font-size: 140%;
}

.logo>a{
    margin-left: 10%;
}

.list_puce_nav>li>a{
    text-decoration: none;
    color: snow;
    font-size: 30px;
    transition: color 0.5s ease; /* Transition pour le changement de couleur */
    font-family:snowLink, sans-serif ;
    letter-spacing: 2px;
}
.lien:hover{
    /* transition: margin-right 3s; */
    border-bottom: 2px solid #ffffff;
}

.flexible{
    display: flex;
    letter-spacing: 5px;

}

.flexible>label>i{
    color: snow;
    font-size: 20px;
    
}

.list_puce_nav>li>a::after{
    border: 1px solid black;
}

section{
    display: flex;
    justify-content: space-evenly;
}



/* bloc des animation de text proj prefo */
.blocTitre{
    position: absolute;
    font-family: snowPolice, sans-serif;
    top: 50%;
    left: 52%;
    width: 1100px;
    color: snow;
    font-size: 110px;
    transform: translate(-50%,-50%);
    overflow: hidden;
}

/* anim proj */
.t1{
    justify-content: center;
    display: flex;
    letter-spacing: 20px;
    margin-left: -50px;
}

/* t1(PROJ) animation  */
.zoneText>.t1>span {
    opacity: 0;
    transform: translate(300px, 0) scale(0);
    animation: animate 1.5s forwards;
    display: inline-block;
}

/* t2 (prefo) animation  */
.zoneText>.t2>.effet {
    opacity: 0;
    transform: translate(-300px, 0) scale(0);
    animation: animate 1.2s forwards;
    display: inline-block;

}

/* delai des anime  */
.t1 span:nth-of-type(2){
    animation-delay: 0.1s;
}
.t1 span:nth-of-type(3){
    animation-delay: 0.2s;
}
.t1 span:nth-of-type(4){
    animation-delay: 0.3s;
}
.t1 span:nth-of-type(5){
    animation-delay: 0.4s;
}
.t1 span:nth-of-type(6){
    animation-delay: 0.5s;
}
.t1 span:nth-of-type(7){
    animation-delay: 0.6s;
}
.t2>.effet:nth-of-type(1){
    animation-delay: 1.5s;
}
.t2>.effet:nth-of-type(2){
    animation-delay: 1.6s;
}
.t2>.effet:nth-of-type(3){
    animation-delay: 1.7s;
}
.t2 span:nth-of-type(4){
    animation-delay: 2.9s;
}
.t2 span:nth-of-type(5){
    animation-delay: 2.9s;
}
.t2 span:nth-of-type(6){
    animation-delay: 2.9s;
}
.t2 span:nth-of-type(7){
    animation-delay: 2.9s;
}
.t2 span:nth-of-type(8){
    animation-delay: 2.9s;
}
.t2 span:nth-of-type(9){
    animation-delay: 2.9s;
}
.t2 span:nth-of-type(10){
    animation-delay: 2.9s;
}
.t2 span:nth-of-type(11){
    animation-delay: 2.9s;
}
.t2 span:nth-of-type(12){
    animation-delay: 2.9s;

}

/* Anim proj */
@keyframes animate {
    60%{transform: translate(20px,0) scale(1);}
    80%{transform: translate(20px,0) scale(1);}
    99%{transform: translate(0) scale(1.2);}
    100%{transform: translate(0) scale(1);
    opacity: 1;}
}

/* balle de pistolet prefo  */
.noEffet{
    opacity: 0;
    transform: translate(-300px, 0) scale(0);
    display: inline-block;
    animation: animate2 0.5s forwards;
}

/* Anim prefo  */
@keyframes animate2 {
    99%{transform: translate(0);}
    100%{transform: translate(0); opacity: 1;}
}

/* Bloc de la carte qui defile  */
.carteMere{
    color: white;
    display: flex;
    justify-content:space-evenly;
    height: 670px;
    scroll-margin: 0;
}

/* Carte qui defile au footer  */
.cartes{
    margin: 1%;
    border: 1px solid #211d1d;
    background-color: #7b7b7b60;
    width: 60%;
    margin-top: 10%;
    height: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 
    0 4px 6px #211d1d;
    opacity: 0;  /* Rendre les cartes invisibles au départ */
    transform: translateY(100px);  /* Déplace les cartes du bas */
    transition: all 1.5s ease-out;  /* Transition fluide pour l'apparition */
    display: flex;
    justify-content: space-between;
}

/* les 2 cartes enfants */
.cartesEnfant{
    width: 50%;
    text-align: center;
    padding: 5%;

}

/* titre carte enfant  */
.cartesEnfant h4{
    font-size: 30px;
    font-family: snowLink;
    margin-top: -3%;
    letter-spacing: 3px;
}

/* paragraphe carte enfant  */
.cartesEnfant p{
    text-align: center;
    margin-top: 8%;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* paragraphe deuxieme enfant cartes  */
#cartesEnfant2>:last-child{
    margin-top: 13%;
}

/* Carte qui defile au footer apres effet */
.cartes.visible2 {
    opacity: 1;
    transform: translateY(-25px);  /* Remet les cartes en position normale */
    animation-delay: 0.1s;
}

/* pied de page  */
footer{
    background-color: black;
    height: 200px;
    width: 100%;
    border-top: 1px solid snow;
    color: snow;
}

.pied{
    /* border: 1px solid rgb(255, 0, 238); */
    display: flex;
    justify-content: space-between;
    padding: 1%;
    /* max-height: 10px; a definir plutard */
}

/* premier bloc footer  */

.blocG{
    padding-right: 1%;
    border-right: 1px solid snow;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 33.3%;
}

.blocG i{
    align-self: flex-end;
}

.ico{
    display: flex;
    align-self: flex-end;
    margin-right: 3%;
}

.ico>i{
    margin-bottom: 13%;
}

/* Deuxieme bloc footer  */

.blocMid{
    /* border: 1px solid green; */
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 33.3%;
}
.listPuceFooter{

    /* border: 1px solid rgb(0, 38, 255); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70%;
}

.listPuceFooter>li{
    list-style-type: none;
    margin-left: -8%;
}
.listPuceFooter>li>a{
    text-decoration: none;
    color: snow;
    margin-top: 50%;

}

.listPuceFooter>li>a:hover{
    background-color: #211d1d;
    font-size: 120%;

}

/* dernier bloc footer  */

.blocD{
    border-left: 1px solid snow;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.icoReseau{
    display: flex;
    flex-direction: row;
    margin-right: 20%;
}

.icoReseau i{
    font-size: 40px;
    width: 100%;
}

.icoReseau>a{
    margin:10%;
}

.cordonner{
    display: flex;
    justify-content: space-evenly;
}